/*
*************************************************************
	CST336 Internet Programming
	SP-A-2015
	Instructor: Dr. Su Bude
	Student: Clarence Mitchell
*************************************************************
*/

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color:#FFF;
	margin: 0;
	padding: 0;
	color:#FFF;
}

/* ~~ Element/tag selectors ~~ */
ul, ol, dl { /* Due to variations between browsers, it's best practices to zero padding and margin on lists. For consistency, you can either specify the amounts you want here, or on the list items (LI, DT, DD) they contain. Remember that what you do here will cascade to the .nav list unless you write a more specific selector. */
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
	/* removing the top margin gets around an issue where margins 
	  can escape from their containing div. The remaining bottom margin
	   will hold it away from any elements that follow. */
	margin-top: 0;	 
	padding-right: 15px;
	/* adding the padding to the sides of the elements within the divs,
	 instead of the divs themselves, gets rid of any box model math. 
	 A nested div with side padding can also be used as an alternate method. */
	padding-left: 15px; 
}

h2 {
	text-align:center;
}
/* use to removes the default  border displayed in some browsers around an image when it is surrounded by a link */
a img { 
	border: none;
	border-style: none;
}

/* ~~ Styling of site's links  ~~ */
a:link {
	color:#414958;
	text-decoration: underline; 
}
a:visited {
	color: #4E5869;
	text-decoration: underline;
}
/* Used the following selectors wtogive a keyboard navigator the same hover experience as the person using a mouse. */
a:hover, a:active, a:focus { 
	text-decoration: none;
}

/* ~~ this container surrounds all other divs giving them their percentage-based width ~~ */
.container {
	width: 80%;
	/* set a max-width may be desirable to keep this layout from getting too wide on a large monitor.  */
	max-width: 1260px;
	/* set a min-width may be desirable to keep this layout from getting too narrow.  */
	min-width: 780px;
	background-color:#FFF;	
	margin: 0 auto; 
}
.container .navigation a {
	font-family: Cambria, Hoefler Text, Liberation Serif, Times, Times New Roman, serif;
}

/* ~~ HEADER Area ~~ 

The following selectors are used to style the HEADER region within the CONTAINER region

*/
/* ~~ the header is not given a width. It will extend the full width of the layout. */
.header {
	background-color:#D6D6D6;
}
.header_Img{
	/*width: 188px; */
	width: 100%; 
	height: 150px;
	background-color:#D6D6D6;
	display:block;
	text-align:center;
	box-shadow: 7px 7px 8px #333;

}

/* ~~ CONTENT Area ~~ 

The following selectors are used to style the CONTENT region within the CONTAINER region

*/
/* ~~ This is the layout information. ~~ 

1) Padding is only placed on the top and/or bottom of the div. The elements within this div have padding on their sides. This saves from any "box model math". Keep in mind, if you add any side padding or border to the div itself, it will be added to the width you define to create the *total* width. You may also choose to remove the padding on the element in the div and place a second div within it with no width and the padding necessary for your design.

*/
.content {
	padding: 10px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12pt;
	color:#000 ;
}

/* ~~ This grouped selector gives the lists in the .content area space ~~ */
.content ul, .content ol { 
	padding: 0 15px 15px 40px; /* this padding mirrors the right padding in the headings and paragraph rule above. Padding was placed on the bottom for space between other elements on the lists and on the left to create the indention. */
}

.content h1{
	text-align:center;	
}
/* ~~ miscellaneous float/clear classes ~~ */
.fltrt {  /* this class can be used to float an element right in page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in page. The floated element must precede the element it should be next to on the page. */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class can be placed on a <br /> or empty div as the final element following the last floated div (within the #container) if the #footer is removed or taken out of the #container */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}


/* ~~ Form Control InformatioN ~~ 

The following selectors are used to style the FORM within the CONTENT region

*/

form { 
  display: -webkit-flex;
  display:flex;
  margin: 0 auto;
}
input {
  border: 1px solid #ddd;
  padding: 4px 8px;
}

.defaultInput {
	color:#000;
}

.errorInput {
	color:#F00;
}

input:focus {
  border: 1px solid #000;
}

select {
  border: 1px solid #ddd;
  padding: 4px 8px;
}
select:focus {
  border: 1px solid #000;
}


input[type="tel"] {
  border: 1px solid #ddd;
  padding: 4px 8px;
}
input[type="tel"]:focus {
  border: 1px solid #000;
}

.coolBtn{
  font-weight: bold;
  padding: 4px 8px;
  border:1px solid #000;
  text-align:center;
  background: #3b5998;
  color:#fff;

}



.p30 {
  padding-top: 30px;
}

.mainTable 
{
	width: 100%; 
	margin: 0 auto;
	background-color:#CCC;
/*	max-width: 1200px;
	min-width: 700px;
*/

}

tr{
	width: 100%; 
	margin: 0 auto;
	max-width: 300px;
	min-width: 208px;

}

.altWrkWkTbl {
	width: 100%; 
	margin: 0 auto;
	max-width: 300px;
	min-width: 208px;
	
}
altWrkWkTbl td {
	width: 100%; 
	margin: 0 auto;
	max-width: 100px;
	min-width: 50px;
	
}

.trBtn{
	text-align:center;
}
td {
	padding: 2px;
	border: black 0px solid;
}


.errorMessage{
	text-align:left;
	font-weight:bold;
	color:#F00;
}

.hiddenClass{
visibility: hidden
}

.visibleClass{
visibility: visible
}


/* ~~ Footer Area ~~ 

The following selectors are used to style the footer region

*/

.footer {
	padding: 10px 0;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8pt;
	color:#D6D6D6;
	background-color:#CCC;
}
.footer img {
	width: 480px;
	height: 80px;
}
